# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

#image files 
/public/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 캐시파일 중요 
.local/
.local/share/pnpm/
.vscode-server/
.cursor-server/
.nvm/
node_modules/
.next/
.cache/